---
import { formatImageURL, getTranslations } from '../../lib/directus'
import type { BlockHero } from '../../lib/directus.types'
import { i18nConfig } from '../../lib/i18n';

interface Props {
  block: BlockHero
}

const block = Astro.props.block
const language = Astro.currentLocale ?? i18nConfig.defaultLocale;

const imageFile = typeof block.image === "object" && block.image ? block.image : null
const imageURL = formatImageURL(imageFile?.id, undefined, imageFile?.type) ?? ""
const isVideo = (imageFile?.type ?? '').startsWith("video/")
const translations = getTranslations(block.translations, language)
const title = translations?.title ?? ''
const description = translations?.description ?? ''
const layout = block.layout ?? 'centered'
const size_style = block.image_size_style ?? '50%'
const showContent = !!title || !!description

---

<div class={`hero hero--${layout}`}>
  {imageURL && 
    <div class="hero__image">
      {isVideo ? (
        <video src={imageURL} class="w-full h-full" autoplay muted loop controls />
      ) : (
        <img src={imageURL} alt={imageFile?.description ?? title} />
      )}
    </div>
  }
  {showContent && (
    <div class="hero__content max-w-prose">
      {title && <h2 class="hero__title">{title}</h2>}
      {description && <p class="hero__description">{description}</p>}
    </div>
  )}
</div>
<style define:vars={{ size_style }}>
  .hero {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-direction: column;
    margin: 1rem 0;
  }
  .hero--image_left {
    flex-direction: row;
  }
  .hero--image_right {
    flex-direction: row-reverse;
  }
  .hero__image {
    flex-shrink: 0;
    flex-grow: 0;
    width: var(--size_style);
  }
  .hero--centered .hero__image {
    margin: 0 auto;
  }

  .hero__image img {
    max-width: 100%;
    height: auto;
  }
  .hero__content {
    text-align: left;
    flex-shrink: 1;
    flex-grow: 1;
  }
  .hero--centered .hero__content {
    margin: 0 auto;
  }
  .hero__title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .hero__description {
    font-size: 1.25rem;
  }
</style>
