---
import { getCategories, getPosts, translateString } from "../../lib/directus"
import type { PageBlocks } from "../../lib/directus.types"
import { i18nConfig } from "../../lib/i18n"
import Blocks from "../Blocks.astro"
import PostGrid from '../PostGrid'

const localCategory = Astro.locals.previewCategory ?? null
const language = Astro.currentLocale ?? i18nConfig.defaultLocale;
let categoryId = localCategory ?? Astro.params.category ?? null

const _categories = await getCategories(language)
if (!categoryId) {
  categoryId = _categories[0]?.permalink ?? null
}

const _posts = await getPosts(categoryId, language)

const categories = _categories.filter((c) => c.status === 'visible')

const _postCategoryMap = {} as Record<string, Set<string>>
for (const cat of categories) {
  for (const id of (cat.postIds ?? [])) {
    _postCategoryMap[id] = _postCategoryMap[id] || new Set()
    if (cat.name) {
      _postCategoryMap[id].add(cat.name)
    }
  }
}
const postCategoryMap = Object.fromEntries(
  Object.entries(_postCategoryMap).map(([key, value]) => [key, Array.from(value)])
)

const category = _categories.find((c) => c.permalink === categoryId)
const blocks = category?.blocks.filter(
  (b) => b && typeof b !== "string",
) as PageBlocks[] ?? []

categories.push({
  background: '',
  id: 'all',
  name: 'About me',
  status: 'visible',
  permalink: '',
  postIds: [],
  blocks: [],
  link: `/${language}/about`,
})

if (category && !categories.includes(category)) {
  categories.push(category)
}

const { numProtected, posts } = _posts

function isCatSelected(id: string) {
  return id === (categoryId ?? 'all')
}

const _labels = await Promise.all([
  translateString('loading', language),
  translateString('reveal', language),
  translateString('hidden-posts', language)
])

const labels = {
  loading: _labels[0],
  reveal: _labels[1],
  hidden: _labels[2],
}

---
<div class="-mx-2 mt-4 pb-4 border-rose-800">
  <ul class="mx-2 flex flex-wrap justify-center gap-3">
    {categories.map((c) => (
      <li>
        <a
          href={c.link}
          class:list={[
            {
              'bg-[var(--panel-light)] dark:bg-rose-900/50': isCatSelected(c.permalink ?? ''),
              'hover:bg-[var(--panel-transparent-light)] dark:hover:bg-rose-100/20': !isCatSelected(c.permalink ?? ''),
              'opacity-50': c.status === 'protected'
            },
            'px-3 py-1 text-lg shadow hover:shadow-md transition-colors rounded-lg border border-[var(--link-light)]'
          ]}
        >{c.name}</a>
      </li>
    ))}
  </ul>
</div>
<Blocks blocks={blocks} />
<PostGrid
  client:load
  labels={labels}
  posts={posts}
  numProtected={numProtected}
  category={categoryId ?? ''}
  language={language}
  postCategoryMap={postCategoryMap}
/>
