---
import Hamburger from "./Hamburger.astro";
import { i18nConfig } from "../lib/i18n";
import { getCategories } from "../lib/directus";

interface Props {
  favicon: string;
  menuItems: { url: string; title: string }[];
  title: string;
  description: string;
}

const favicon = Astro.props.favicon;
const title = Astro.props.title;

const localCategory = Astro.locals.previewCategory ?? null
const language = Astro.currentLocale ?? i18nConfig.defaultLocale;
let categoryId = localCategory ?? Astro.params.category ?? null

const _categories = await getCategories(language)
if (!categoryId) {
  categoryId = _categories[0]?.permalink ?? null
}

const categories = _categories.filter((c) => c.status === 'visible')

categories.push({
  background: '',
  id: 'all',
  name: 'About me',
  status: 'visible',
  permalink: '',
  postIds: [],
  blocks: [],
  link: `/${language}/about`,
})

const category = _categories.find((c) => c.permalink === categoryId)
if (category && !categories.includes(category)) {
  categories.push(category)
}

function isCatSelected(id: string) {
  return id === (categoryId ?? 'all')
}

---

<header class="relative z-20">
  <div class="flex items-center gap-3 pb-4">
    <a href="/">
      <img
        class="w-20 h-20 rounded-full border-2 border-gray-300"
        src={favicon}
        alt="drawing of my face"
      />
    </a>
    <div class="flex-grow">
      <h1 class="text-link text-4xl font-medium">{title}</h1>
      <p>{category?.name}</p>
    </div>
    <Hamburger />
    <nav id="nav-links" class="hidden absolute z-20 top-16 -right-2">
      <ul class="md:flex items-center gap-3 mx-2 flex-shrink-0">
        {categories.map((c) => (
          <li>
            <a
              href={c.link}
              class:list={[
                {
                  'bg-[var(--panel-light)]': isCatSelected(c.permalink ?? ''),
                  'bg-[var(--background-light)] hover:bg-[var(--panel-light)]': !isCatSelected(c.permalink ?? ''),
                  'opacity-50': c.status === 'protected'
                },
                'block my-1.5 px-3 py-1 text-lg shadow hover:shadow-md transition-colors rounded-lg border border-[var(--link-light)]'
              ]}
            >{c.name}</a>
          </li>
        ))}
      </ul>
      <!--
        <div class="md:hidden flex-grow" />
        <LanguageToggle />
        <ThemeToggle />
      -->
    </nav>
  </div>
</header>
