---
import Hamburger from "./Hamburger.astro";
import ThemeToggle from "./ThemeToggle.astro";
import LanguageToggle from "./LanguageToggle.astro";
import { getRelativeLocaleUrl } from "astro:i18n";
import { i18nConfig } from "../lib/i18n";

interface Props {
  favicon: string;
  menuItems: { url: string; title: string }[];
  title: string;
  description: string;
}

const url = Astro.url.pathname;

const items = Astro.props.menuItems.map((item) => ({
  ...item,
  selected: url === item.url
}));
const favicon = Astro.props.favicon;
const title = Astro.props.title;
const description = Astro.props.description;
const language = Astro.currentLocale ?? i18nConfig.defaultLocale;
const homeLink = getRelativeLocaleUrl(language, '/', { normalizeLocale: false })

---

<header>
  <nav class="flex flex-wrap justify-end items-center">
    <ul
      id="nav-links"
      class="md:order-0 order-10 md:w-auto w-full py-3 hidden md:flex items-center gap-1 flex-grow justify-end"
    >
      {
        items.map(({ url, title, selected }) => (
          <li>
            <a
              href={url}
              class:list={[
                { 'underline': selected },
                'uppercase block text-xl md:px-3 py-1.5 font-semibold rounded-lg'
              ]}
            >
              {title}
            </a>
          </li>
        ))
      }
    </ul>
    <Hamburger />
    <div class="md:hidden flex-grow" />
    <!-- <LanguageToggle /> -->
    <ThemeToggle />
  </nav>
  <div class="flex justify-center items-center md:items-end gap-3 pt-8 pb-4">
    <img
      class="w-20 h-20 md:w-28 md:h-28 rounded-full border-2 border-gray-300"
      src={favicon}
      alt="drawing of my face"
    />
    <div>
      <h1 class="text-link text-4xl md:text-6xl font-medium mb-1">{title}</h1>
      <p class="text-lg md:text-2xl">{description}</p>
    </div>
  </div>
</header>
