---
import Hamburger from "./Hamburger.astro";
import ThemeToggle from "./ThemeToggle.astro";
import LanguageToggle from "./LanguageToggle.astro";
import { getRelativeLocaleUrl } from "astro:i18n";
import { i18nConfig } from "../lib/i18n";

interface Props {
  favicon: string;
  menuItems: { url: string; title: string }[];
  title: string;
  description: string;
}

const url = Astro.url.pathname;

const items = Astro.props.menuItems.map((item) => ({
  ...item,
  selected: url === item.url
}));
const favicon = Astro.props.favicon;
const title = Astro.props.title;
const description = Astro.props.description;
const language = Astro.currentLocale ?? i18nConfig.defaultLocale;
const homeLink = getRelativeLocaleUrl(language, '/', { normalizeLocale: false })

---

<header>
  <nav class="flex flex-wrap justify-end items-center">
    <a href={homeLink} class="flex items-center md:items-end gap-2">
      <img
        class="w-20 h-20 rounded-full border-2 border-gray-300"
        src={favicon}
        alt="drawing of my face"
      />
      <div>
        <h1 class="text-4xl font-medium">{title}</h1>
        <p class="text-lg">{description}</p>
      </div>
    </a>
    <Hamburger />
    <ul class="nav-links py-3 hidden md:flex items-center gap-1 flex-grow justify-end">
      {
        items.map(({ url, title, selected }) => (
          <li>
            <a
              href={url}
              class:list={[
                { 'underline': selected },
                'uppercase block text-xl px-3.5 py-1.5 font-semibold rounded-lg'
              ]}
            >
              {title}
            </a>
          </li>
        ))
      }
    </ul>
    <LanguageToggle />
    <ThemeToggle />
  </nav>
</header>
