---
import { getRelativeLocaleUrl } from "astro:i18n";

export type PostDetail = {
  id: string
  title: string
  content: string
  description: string
  date: string
  image: string
  slug: string
}

interface Props {
  post: PostDetail
}

const post = Astro.props.post
const lang = Astro.params.lang!

---

<div class="max-w-3xl mx-auto mt-12">
  <a
    id="back-button"
    class="inline-block my-2 font-medium text-lg"
    href={getRelativeLocaleUrl(lang, '/archive', { normalizeLocale: false })}
  >&#8672; Back</a>
  <!-- <img class="shadow-md rounded-lg w-full mb-8" src={post.image} alt="" /> -->
  <div class="flex flex-col md:flex-row gap-4">
    <div
      class="mt-2 mb-6 prose dark:prose-invert
      prose-h1:font-bold prose-h1:text-xl
      prose-a:text-blue-500 prose-p:text-justify prose-img:rounded-xl
      prose-headings:underline"
    >
      <Fragment set:html={post.content} />
    </div>
    <aside>
      <time class="mb-2 text-sm inline-block">{post.date}</time>
      <h2 class="mb-3 text-3xl text-link font-medium">{post.title}</h2>
      {post.description ? (
        <div
          class="mt-2 mb-6 prose dark:prose-invert
          prose-h1:font-bold prose-h1:text-xl
          prose-a:text-blue-500 prose-p:text-justify prose-img:rounded-xl
          prose-headings:underline"
        >
          <Fragment set:html={post.description} />
        </div>
      ) : null}
    </aside>
  </div>
</div>
<script>
  const backButton = document.getElementById("back-button")
  backButton?.addEventListener('click', (ev) => {
    const cameFromFeed = sessionStorage.getItem('artist_portfolio:from_feed')
    if (cameFromFeed === 'true') {
      ev.preventDefault()
      history.back()
    }
  })
</script>
