---
import "../styles/global.css";
import "../styles/tailwind.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import directus, {
  formatImageURL,
  getTranslations,
  parseMenuItems,
} from "../lib/directus";
import { readItems, readSingleton } from "@directus/sdk";
import type { NavigationItems } from "../lib/directus.types";
import { i18nConfig } from "../lib/i18n";

interface Props {
  pageTitle?: string
}

const pageTitle = Astro.props.pageTitle;

const language = Astro.currentLocale ?? i18nConfig.defaultLocale;
const menus = await directus.request(
  readItems("menus", {
    fields: [
      "*",
      {
        items: [
          "*",
          {
            page: ["*", { translations: ["*"] }],
            post: ["*", { translations: ["*"] }],
          },
        ],
      },
    ],
  }),
);

const headerMenu = menus.find((s) => s.slug === "header-menu")
const headerMenuItems = (headerMenu?.items ?? []) as NavigationItems[];
const items = parseMenuItems(headerMenuItems, language);

const global = await directus.request(
  readSingleton("globals", {
    fields: ["social_links", { translations: ["*"], favicon: ["*"] }],
  }),
);

const translations = getTranslations(global.translations, language);
const title = pageTitle ?? translations?.title;
const description = translations?.description ?? "";
const socialLinks = global.social_links ?? [];
const faviconFile = typeof global.favicon === 'object' && global.favicon ? global.favicon : null;
const favicon = formatImageURL(faviconFile?.id, undefined, faviconFile?.type) ?? "";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/jpg" href={favicon} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body class="flex flex-col">
    <Header
      menuItems={items}
      favicon={favicon}
      title={translations?.title ?? ""}
      description={description}
    />
    <main class="flex-grow">
      <slot />
    </main>
    <Footer socialLinks={socialLinks} />
  </body>
</html>
